[submodule "lib/libbpf"]
	path = lib/libbpf
	url = https://github.com/xdp-project/libbpf.git
	ignore = dirty
[submodule "lib/xdp-tools"]
	path = lib/xdp-tools
	url = https://github.com/xdp-project/xdp-tools
	ignore = dirty
[submodule "clean-slate/croffset/libbpf"]
	path = clean-slate/croffset/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "clean-slate/croffset/bpftool"]
	path = clean-slate/croffset/bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "clean-slate/blazesym"]
	path = clean-slate/blazesym
	url = https://github.com/libbpf/blazesym.git
[submodule "clean-slate/croffset/blazesym"]
	path = clean-slate/croffset/blazesym
	url = https://github.com/libbpf/blazesym.git
